/* Styling for all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    text-decoration: none;
}

/* Create a smooth scrolling behavior of elements*/
html{
    scroll-behavior: smooth;
}

body{
    background: #ffcd58;
    overflow-x: hidden; /*clip away an content overflowing in the x direction */
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex; /* align items with auto width and auto height*/ 
    justify-content: center;
    align-items: center;
    z-index: 100;
}

nav{
    position: fixed;
    font-weight: 200;
    font-size: 18px;
    background: rgb(174, 39, 39);
    border-radius: 20px;
    padding: 9px 17px;
    font-weight: 600px;
    opacity:0.8; 
}

/* Disable text decoration so as to not have undesirable styling after clicking on 
a naviagtion item*/
nav a{
    text-decoration: none;
    color: white; 
    text-shadow: rgba(0, 0, 0, 0.7);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px; 
    font-weight: 600px;
    font-size: 18px;

}

/* Change the background of the navigation element that is hovered on 
and enlarge its size*/
nav a:hover, nav a.active{
    background: #ffaaa5;
    color: #fff;
    font-size: 20px;
}
/* Use flex box for the organization of elements in the parallax div */
.parallax{
    position: relative;
    display: flex; /* align items with auto width and auto height*/ 
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#film-title{
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 2);

}

#scroll-notif{
    position: absolute;
    color: white;
    transition: 1.5s;
    padding-top: 40%;
}

/*By setting the positioning of the images in the parallax div as 
absolute and the parallax container itself as relative a parallax effect 
when scrolling is created.*/
.parallax img{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.about{
    position: relative;
    background: #dad870;
    height: 100%;
    width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.about h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 100px;
}

.about p {
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

.about .typewrite{
    color: #fff;
    padding-left: 50px;
    font-size: 60px;
}

.video-heading{
    padding-left: 50px;
    font-size: 60px;
    color: #fff;
    padding-top: 7%;
    padding-bottom: 5%;
}


#film{
    position: relative;
    background:#FF9636;
    padding-top: 0;
    padding-bottom: 10%;
}

/* Add a black background box with rounded corners, resembling
a table dispaly to the back of the video as a border*/
.video-border{
    width: 90%;
    background: rgb(30, 28, 28);
    padding-bottom: 5%;
    border-radius: 30px;
    padding-top: 5%;
}

#film video{
    border-radius: 20px; 
    width: 89%;
}

.characters{
    position: relative;
    height: 900px;
    background: linear-gradient(#ffaaa5,#ffd3b6);
    display: flex; /* align items with auto width and auto height*/ 
}

.col{
    height: 100%;
    flex:1; /* div will grow and shrink in the same proportion as the window size */
    color: #fff;
    box-sizing: border-box;
    padding: 25px;
    transition: 0.6s;
    position: relative;
}
/* Background color of the columns*/
.col:nth-child(1){
    background: #a8e6cf;
}
.col:nth-child(2){
    background: #dcedc1; 
}
.col:nth-child(3){
    background:#badabf;
}
.col:nth-child(4){
    background: #d4eaaf;
}

/* Do not display the .caption unless column is hovered on*/
.caption{
    max-width: 230px;
    font-size: 18px;
    margin: 28px 0;
    display: none;
}
.col h2{
    text-align: center;
    font-weight: 1000;
    font-size: 30px;
}

/* Dynamically enlarge a column div when hovered on with flex */
.col:hover{
    flex-grow: 2.5;
}

/* display character captions when column 
divs within the characters div is hovered over*/ 
.col:hover .caption{ 
    display: block;
}

/* positoning of the characer images in t*/
.col img{
    position: absolute;
    right: 0;
    bottom:0;
}

/* By defualt, do not dispaly images with class color in the columns*/
.col .color{
    display: none;
    position: absolute;
}

/* Display colored images only when the column is hovered on*/
.col:hover .color{
    display: inline;
}
/* Hide black and white images when the column is hovered on*/
.col:hover .no-color{
    display: none;
}
.contact{
    position: relative;
    display: flex; /* align items with auto width and auto height*/ 
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.social-media-icon{
    font-size: 3em;
    width: 50px;
    margin: 0 20px 20px 20px; 
    text-decoration: none;
    transition: color 0.3s;
    color:rgba(251, 16, 141, 0.2)
}

/* Change icon color to red when hovered on*/
.social-media-icon:hover{
    color: red;
}

.bottom-msg{
    display: flex; /* align items with auto width and auto height*/ 
    align-items: center;
    justify-content: center; 
    color: grey;
    padding-bottom: 3.5%;
}